# Python
__pycache__/
*.py[cod]
*.pyo

# Dart / Flutter
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.metadata
pubspec.lock
build/

# IDE
.idea/
*.iml
.vscode/

# Environment
.env
.env.*
!.env.example

.mcp.json

# OS
.DS_Store
Thumbs.db

# Qoder
.qoder/

# skills default
.agents/

# pyhton venv
.venv/

# ConnectOnion
.co/

# Skills lock
skills-lock.json
